# Basic libraries
pep8
pyflakes

# Document and Test
Sphinx
sphinxjp.themes.s6
nose

# CSV series
SQLAlchemy

# Command-line series
paramiko
fabric

# Web application series
Django==1.3
flup==1.0.2

# Misc.
pyyaml
httplib2

